img{
    width: 125px ;
    height: 125px;
}
.card1 {
    display: inline-block;
}
button{
    margin-top: 50px;
}
.sizer{
    height: 500px;
    width: 300px;
}
.maxer{
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 1000px;
}
.pizzaSingle{
    width: 30%;
    margin-right: 15px;
}
.smallImg{
    width: 100px;
    height: 100px;
}
.centerText{
    text-align: center;
}
