.mat-button-toggle1{
    background-color: gray;

}
.mat-button-toggle2{
    background-color: darkgray;

}
.toppings{
    width: 800px;
    margin-left: 100px;
    margin-right: 100px;
}
.button1{
    background:blue
}

.button2{
    background:aqua
}
