<form>
    <table>
        <tr>
            <th>Crust:</th>
        </tr>
        <tr>
            <td>
                <input type="radio" value="handTossed" name="crust"> Hand Tossed
                <input type="radio" value="pan" name="crust"> Pan
            </td>
        </tr>
        <tr>
            <th>Cheese (Mozzarella): </th>
        </tr>
        <tr>
            <td>
                <input type="radio" value="light" name="cheese"> Light
                <input type="radio" value="regular" name="cheese"> Regular
                <input type="radio" value="extra" name="cheese"> Extra
            </td>
        </tr>
        <tr>
            <th>Sauce: </th>
        </tr>
        <tr>
            <td>
                <input type="radio" value="none" name="sauce"> None
                <input type="radio" value="light" name="sauce"> Light
                <input type="radio" value="regular" name="sauce"> Regular
                <input type="radio" value="extra" name="sauce"> Extra                
            </td>
        </tr>
        <tr>
            <th>Toppings (Choose up to 5 Toppings) </th>
        </tr>
        <tr>
            <th>Meats: </th>
        </tr>
        <tr>
            <input type="checkbox" value="pepperoni" name="meats"> Pepperoni
            <input type="checkbox" value="italianSausage" name="meats"> Italian Sausage
            <input type="checkbox" value="bacon" name="meats"> Bacon
            <input type="checkbox" value="meatball" name="meats"> Meatball
        </tr>
        <tr>
            <input type="checkbox" value="ham" name="meats"> Ham
            <input type="checkbox" value="beef" name="meats"> Beef
            <input type="checkbox" value="pork" name="meats"> Pork
            <input type="checkbox" value="chicken" name="meats"> Chicken

        </tr>
        <tr>
            <th>Veggies: </th>
        </tr>
        <tr>
            <input type="checkbox" value="blackOlives" name="veggies"> Black Olives
            <input type="checkbox" value="greenOlives" name="veggies"> Green Olives
            <input type="checkbox" value="pineapple" name="veggies"> Pineapple
            <input type="checkbox" value="onions" name="veggies"> Onions
        </tr>
        <tr>
            <input type="checkbox" value="mushrooms" name="veggies"> Mushrooms
            <input type="checkbox" value="bananaPeppers" name="veggies"> Banana Peppers
            <input type="checkbox" value="greenPeppers" name="veggies"> Green Peppers
            <input type="checkbox" value="jalapenos" name="veggies"> Jalapenos
        </tr>
        <tr>
            <th>
                <button type="submit">Add to Cart</button>
            </th>
        </tr>
    </table>
</form>