<div>
    Base Price: $12
</div>
<form>
    <table>
        <tr>
            <th>Crust:</th>
        </tr>
        <tr>
            <td>
                <mat-button-toggle-group [(ngModel)]="customPizza.crust" name="crust" aria-label="crust">
                    <mat-button-toggle value="Hand Tossed">Hand Tossed</mat-button-toggle>
                    <mat-button-toggle value="Pan">Light</mat-button-toggle>
                </mat-button-toggle-group>
            </td>
        </tr>
        <tr>
            <th>Sauce: </th>
        </tr>
        <tr>
            <td>
                <mat-button-toggle-group [(ngModel)]="customPizza.sauce" name="sauce" aria-label="sauce">
                    <mat-button-toggle value="None">None</mat-button-toggle>
                    <mat-button-toggle value="Light">Light</mat-button-toggle>
                    <mat-button-toggle value="Regular">Regular</mat-button-toggle>
                    <mat-button-toggle value="Extra">Extra</mat-button-toggle>
                </mat-button-toggle-group>
            </td>
        </tr>
        <tr>
            <th>Cheese (Mozzarella): </th>
        </tr>
        <tr>
            <td>
                <mat-button-toggle-group [(ngModel)]="customPizza.cheese" name="cheese" aria-label="cheese">
                    <mat-button-toggle [ngClass]= "customPizza.cheese == 'None' ? 'mat-button-toggle1' : 'mat-button-toggle2'" value="None">None</mat-button-toggle>
                    <mat-button-toggle value="Light">Light</mat-button-toggle>
                    <mat-button-toggle value="Regular">Regular</mat-button-toggle>
                    <mat-button-toggle value="Extra">Extra</mat-button-toggle>
                </mat-button-toggle-group>

            </td>
        </tr>
        <tr>
            <th>Toppings ($1 per Topping) </th>
        </tr>
        <tr>
            <th>Meats: </th>
        </tr>
        <tr>
            <div class="d-flex toppings">
                <div class="w-100">
                    <input [(ngModel)]="pepperoni" type="checkbox" class="btn-check" value="Pepperoni" name="meats"
                        id="Pepperoni" autocomplete="off">
                    <label class="btn btn-outline-primary" [ngClass]= "pepperoni == true ? 'btn-primary' : 'btn-danger'" for="Pepperoni">Pepperoni</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="italianSausage" type="checkbox" class="btn-check" value="Italian Sausage"
                        name="meats" id="ItalianSausage" autocomplete="off">
                    <label class="btn btn-primary" for="ItalianSausage">Italian Sausage</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="bacon" type="checkbox" class="btn-check" value="Bacon" name="meats" id="Bacon"
                        autocomplete="off">
                    <label class="btn btn-primary" for="Bacon">Bacon</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="meatball" type="checkbox" class="btn-check" value="Meatball" name="meats"
                        id="Meatball" autocomplete="off">
                    <label class="btn btn-primary" for="Meatball">Meatball</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="ham" type="checkbox" class="btn-check" value="Ham" name="meats" id="Ham"
                        autocomplete="off">
                    <label class="btn btn-primary" for="Ham">Ham</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="beef" type="checkbox" class="btn-check" value="Beef" name="meats" id="Beef"
                        autocomplete="off">
                    <label class="btn btn-primary" for="Beef">Beef</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="pork" type="checkbox" class="btn-check" value="Pork" name="meats" id="Pork"
                        autocomplete="off">
                    <label class="btn btn-primary" for="Pork">Pork</label>
                </div>
                <div class="w-100">
                    <input [(ngModel)]="chicken" type="checkbox" class="btn-check" value="Chicken" name="meats"
                        id="Chicken" autocomplete="off">
                    <label class="btn btn-primary" for="Chicken">Chicken</label>
                </div>
            </div>

        </tr>
        <tr>
            <th>Veggies: </th>
        </tr>
        <tr>
            <input [(ngModel)]="blackOlives" type="checkbox" value="Black Olives" name="veggies"> Black Olives
            <input [(ngModel)]="greenOlives" type="checkbox" value="GreenOlives" name="veggies"> Green Olives
            <input [(ngModel)]="pineapple" type="checkbox" value="Pineapple" name="veggies"> Pineapple
            <input [(ngModel)]="onions" type="checkbox" value="Onions" name="veggies"> Onions
        </tr>
        <tr>
            <input [(ngModel)]="mushroom" type="checkbox" value="Mushrooms" name="veggies"> Mushrooms
            <input [(ngModel)]="bananaPeppers" type="checkbox" value="BananaPeppers" name="veggies"> Banana Peppers
            <input [(ngModel)]="greenPeppers" type="checkbox" value="GreenPeppers" name="veggies"> Green Peppers
            <input [(ngModel)]="jalapenos" type="checkbox" value="Jalapenos" name="veggies"> Jalapenos
        </tr>
        <tr>
            <th>
                <button type="submit" (click)="onSubmit()">Add to Cart</button>
            </th>
        </tr>
    </table>
</form>