<p>main-page works!</p>

<div>
    <button type="button" class="buttonSpace" (click)="showMainPage()"> Main</button>
    <button type="button" class="buttonSpace" (click)="showDeals()"> Deals</button>
    <button type="button" class="buttonSpace" (click)="showBuilder()"> Pizza Builder</button>
</div>

<div *ngIf = "displayCart">
    <app-shopping-cart-card></app-shopping-cart-card>
</div>

<div *ngIf = "displayMain">
    <div *ngFor="let x of lister">
    <app-pizza-card
    [name]="lister[0].name"></app-pizza-card>
    </div>
</div>

<div *ngIf = "displayPizzaBuilder">
    <app-pizza-builder></app-pizza-builder>
</div>

<div *ngIf = "displayDeal">
    <!-- Will need some condition to show pizzas under $10 -->
    <div> 
        <app-pizza-card></app-pizza-card>
    </div>
    <app-bundle></app-bundle>
</div>
