.checkout{
    position:fixed;
    top:9em;
    left:58%;
}
.cardpostion{
    position:absolute;
    top:4em;
    left:2em;
}
.list{
    margin: 2em;
}
li{
    display:block;
}
.subtotal{
    margin-left: 75%;
    margin-bottom: 1em;
}
.checkoutBox{
    margin-top: 1em;
    margin-left: 3em;
    line-height: 2em;
    margin-bottom: 3em;
}
.title{
    position: absolute;
  margin: .5em;
    font-size:xx-large;
    left: 50%;
    width: max-content;
    
}
p{
    margin-left: .5em;
}
.card {
    border: 2px solid darkblue;
    background-color: lightblue;
    color: black;
    font-weight:500;
    font-size: large;
}

input{
    background-color: lightblue;
    border: 2px solid darkblue;
    margin: 1rem;
}
button{
    background-color:lightgreen;
    border: 2px solid darkblue;
    color: black;
    margin-top: 1em;
}
.mat-button-toggle1{
    background-color:blue;
    border: 1px solid darkblue;
    color: black;
}
.mat-button-toggle2{
    background-color:lightgreen;
    border: 1px solid darkblue;
    color: black;
}